/*
To Do
1.
2.
3.
*/
body {
  background-color: rgb(110, 110, 110);
  color: #dfdfdf;
}

button, input{
  background-color: rgba(10, 10, 30, .8);
}

input{
  max-width: 200px;
}


.btn-primary.active, .btn-primary:active {
  background-color: rgb(10, 10, 30);
  border-color: rgb(10, 10, 30);
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover,
.btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover{
  background-color: rgb(10, 10, 30);
  border-color: #dfdfdf;
}

.zipcode{
  display:inline;
}

.btn {
  vertical-align: baseline;
}

.currentInfo {
  font-size: 2.75rem;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 20px;
}

.description{
  padding: 5%;
}

#submit {
  font-size: 2.75rem;
  margin-top: 15px;
}

#forecast {
  min-height: 200px;
}

#toggleDiv, .temperature {
  display: inline;
}

.icon {
  background-color: rgb(38, 38, 52);
  border: 1px solid rgb(34, 34, 48);
  border-radius: 5px;
  min-width: 80px;
  min-height: 80px;
}

.iconDescription {
  background-color: rgb(135, 135, 135);
  border: 1px solid rgb(122, 122, 122);
}

.forecast {
  background-color: rgba(10, 10, 30, .8);
  border: 1px solid #fff;
  text-align: center;
  margin-top: 3%;
  padding: 0;
}

#forecast {
  margin-bottom: 40px;
}

#forecastBuffer3 {
  margin-right: 0.01px;
}

.forecastBanner{
  background-color: rgb(10, 10, 30);
  border-bottom: 2px solid #dfdfdf;
  font-size: 1.8rem;
  font-weight: 600;

}

.jumbotron{
  background-color: rgba(10, 10, 30, .8);
}

.jumbotron h3{
  float: right;
}

.temp span {
  font-size: 2rem;
}

.tempBtn{
  font-size: 2.25rem;
}

.map {
  height: 100%;
}
.mapContainer{
  text-align: center;
}


.foot {
  background-color: rgba(10, 10, 30, .6);
  margin: auto;
  max-width: 1500px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 0 30px 0;
}

.foot p {
  margin-bottom: 0;
  padding-top: 6px;
}

.foot p a {
  color: #dfdfdf;
}

.foot p a:hover, .foot p a:active {
  color: rgb(10, 10, 30);
}

@media (max-width: 700px) {
  .foot p {
    text-align: center;
  }
  }
